*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

div.desktop{
    display: grid;
    height: 100vh;
    padding: 1%;
    grid-template: 3fr 1fr 1fr / 1fr 1fr 1fr 1.5fr;
    border: 2px solid black;
    overflow: hidden;
}

div.background-image{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/festival.jpg);
    background-size: cover;
    opacity: 25%;
    filter: blur(5px) contrast(50%);
    z-index: -1;
    border: 0px;
}

div.desktop div{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.desktop1{
    grid-area: 1/4/4/5;
    background-image: url(./images/qr-code.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

div.desktop2{
    grid-area: 1/1/2/4;
}

div.desktop2 h5{
    font-size: 1em;
    letter-spacing: 10px;
}

div.desktop2 h1{
    font-size: 10em;
}

div.desktop3 p, div.desktop4 p, div.desktop5 p{
    font-size: 2.5em;
    font-weight: bold;
}

div.desktop6 p{
    font-size: 1.5em;
}

div.desktop6{
    grid-area: 3/1/4/4;
    
}

